// Global SCSS-files imports
@import "./mixins";
@import "./vars";
@import "./reset";
@import "./base";
@import "./global";

// Sections or Pages SCSS-files imports
@import "./header";
@import "./calculator";

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
